.sider {
    min-height: 100%;   
    min-width: 300px !important;
    max-width: 500px !important;
    flex-grow: 1 !important;
    background-color: transparent;
}

.image {
    position: absolute;
    bottom: 128px;
    padding: 32px;
}

.credits {
    position: absolute;
    bottom: 0px;
    padding: 32px;
}

.call {
    padding: 32px;
    z-index: 1;
    position: relative;
}

.slogan {
    margin-top: 0px !important;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 32px;
}

.form {
    max-width: 320px;
    min-width: 320px;
}

.formItem {
    margin-top: 12px;
    margin-bottom: 12px;
}

.input {
    margin-top: 6px;
}

.button {
    width: 100%;
    margin-top: 12px;
}

.switch {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 32px;
}

.error {
    color: red;
}

@media (max-width: 720px) {
    .sider {
        display: none;
    }
}